# Data Science Tools and Ecosystem

In This notebook,Data Science Tools and Ecosystem are summarized

### Objectives:

  - Machine learning
  - Modeling
  - Statistics

Some of the popular languages that Data Scientists use are:
1. python
1. R
1. julia
1. java

Some of the commonly used libraries used by Data Scientist include:

1. pandas
1. numpy
1. matplotlib

In [5]:
import pandas as pd
  
  

df = pd.DataFrame({'name': ['Akash', 'Ayush', 'Ashish',
                            'Diksha', 'Shivani'],
                     
                   'Age': [21, 25, 23, 22, 18],
                     
                   'Data Science Tools': ['Apache Spark.','BigML.','MATLAB.','Excel.','ggplot2.']})
  
print("Data Science Tools")
df['Data Science Tools']

Data Science Tools

0    Apache Spark.
1           BigML.
2          MATLAB.
3           Excel.
4         ggplot2.
Name: Data Science Tools, dtype: object

Below are a few example of evaluting arithmetic expression in Python

In [6]:
x=10+10

this is simple arithmetic expression to multiply then addd integers

In [8]:
y=3*4+5

this will convert 200 minutes to hours by dividing by 60

In [9]:
z=200/60

## Author  

    name:Snehank Milind Patil